__pycache__
.env
migrations
*.sqlite3
*.sqlite3-journal
*.db
*.log
*.log.*
*.zip
venv
media/*
.idea
csv_templates/*
celerybeat*
google_api_keys
wb_seller_sessions
chromedriver
flower
__test.py
0.xlsx
static/admin/
static/drf-yasg/
static/django_extensions/
static/rest_framework/
